usage: {{ args.program }} [DATEREF] delete TIMEREF

remove an entry from the dagr

    TIMEREF       Delete the task that starts at the specified time.

It is an error if no task starts at TIMEREF on DATEREF.
