usage: {{ args.program }} [DATEREF] end [TIMEREF]

end a task right now, or at a specific time

    TIMEREF       End the task at the specified time. Convenience values like
                  "-30m", "-1h30m", and "@14:45" are accepted. Defaults to "@now".

If there is already an entry in the dagr for TIMEREF on DATEREF, it will be
removed.
