usage: {{ args.program }} [DATEREF] start [TIMEREF] [TICKET] DESCRIPTION [...]
   or: {{ args.program }} [DATEREF] end [TIMEREF]
   or: {{ args.program }} [DATEREF] delete TIMEREF
   or: {{ args.program }} [DATEREF] report
   or: {{ args.program }} [DATEREF] upload [-f|--force]

track and report the time spent on tasks

  DATEREF    Manage a dagr from a particular date. Each day has its own dagr.
             Convenience values like "-1d", "@yesterday", and "@tues" are
             accepted. Must appear before the command. Defaults to "@today".

  start      start a task right now, or at a specific time
  end        end a task right now, or at a specific time
  delete     remove an entry from the dagr
  report     report the current state of the dagr
  upload     upload the dagr to jira
