usage: {{ args.program }} [DATEREF] start [TIMEREF] [TICKET] DESCRIPTION [...]

start a task right now, or at a specific time

    TIMEREF       Start the task at the specified time. Convenience values like
                  "-30m", "-1h30m", and "@14:45" are accepted. Defaults to "@now".
    TICKET        The ticket for the work started, if any. Should match the regex
                  /[a-z]+-[0-9]+/i
    DESCRIPTION   The description of the work started.

Though not expressed in the usage line, DESCRIPTION may be omitted if TICKET is
provided.

If there is already an entry in the dagr for TIMEREF on DATEREF, it will be
replaced.
