usage: {{ args.program }} [DATEREF] upload [-f|--force]

upload the dagr to jira

    -f, --force   If provided, upload all tasks to jira even if they're marked
                  as having been uploaded previously.

Using --force can result in duplicate worklog records in jira. It is useful,
however, if you have to change your dagr after uploading it. You'll want to
go into jira and manually delete all the worklogs previoulsy uploaded before
forcefully uploading them again with this command.
