usage: {{ args.program }} [DATEREF] start [TIMEREF] [TICKET] DESCRIPTION [...]
   or: {{ args.program }} [DATEREF] end [TIMEREF]
   or: {{ args.program }} [DATEREF] delete TIMEREF
   or: {{ args.program }} [DATEREF] report
   or: {{ args.program }} [DATEREF] upload [-f|--force]
