  {{args.dateref|datefmt('%a, %d %b %Y'|bold)}}

{% if dagr %}
  {{"start"|underline|justify(5)}}  {{"end"|underline|justify(13)}}  {{"duration"|underline}}  {{"ticket"|underline|justify(17)}}  {{"description"|underline}}
{% for task in dagr %}
  {{task.start|timefmt|justify(5)|green}}  {{task.end|timefmt|justify(5)|style('yellow' if task.isopen else 'green')}}  {{task.duration|durationfmt|justify(8)|cyan}}  {{task.ticket|justify(9)|style('bold' if task.isuploaded else None)}}  {{task.description}}
{% endfor %}

{% for grouper, tasks in dagr | selectattr('ticket') | groupby('ticket') %}
{{ tasks | sumdurations | durationfmt | justify(24) | cyan }} {{ grouper | justify(10) }}
{% endfor %}
{{ dagr | selectattr('ticket') | sumdurations | durationfmt | justify(24) | bold }} {{ 'total' | justify(10) | bold }}
{% else %}
  no entries
{% endif %}
